extends layout

block content
    div.container
        div.row
            div.col-4
                div.container.text-center
                    img(src='/images/image.jpg', style='width: 75px; border-radius: 50%;')
                    div fail.pozitiv
                    div Видео - Юмор - Вайны
                div.container.text-center
                    div.container
                        div.row
                            div.col-4
                                div 100
                            div.col-4
                                div 20000
                            div.col-4
                                div 100
                h1.text-center.login-title Мои аккаунты:
                    div.signup-wall
                        a(href='/account', class='text-center new-account') Добавить аккаунт
                        ul.user-details
                            each account in accounts
                                li= account.login
            div.col-8